{% extends "base.html" %}
{% block title %}درباره سایت| ToDoApp{% endblock %}
{% block content %}
<div class="max-w-4xl mx-auto bg-white rounded-2xl shadow p-6 space-y-4">
  <h1 class="text-2xl font-extrabold">درباره</h1>
  <p class="text-slate-600 text-sm leading-7">
    این پروژه برای یادگیری حرفه‌ای Django با CBV، یوزر سفارشی همراه با پروفایل مجزا و اپ To‑Do با امکانات کامل ، طراحی شده.
  </p>
  <ul class="list-disc pr-5 text-sm text-slate-700 space-y-1">
    <li>تسک‌ها با اولویت، تگ، سررسید، آرشیو</li>
    <li>پروفایل و آواتار</li>
    <li>آپلود ضمیمه‌ها</li>
    <li>UI مینیمال با Tailwind</li>
    <li>پیاده سازی در داکر</li>
    <li>انتشار در گیت هاب</li>
  </ul>
    <p class="text-slate-600 text-sm leading-7">
      سازنده :
      <b>Alireza Aizy</b>
  </p>
</div>
{% endblock %}
